#header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;

    #social-links {
        background-color: rgba(255, 255, 255, 0.836);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 30px 0px 30px;
        font-size: 13px;
        transition:all .3s;



        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 1);
            padding: 3px 20px 3px 10px;

            i {
                padding: 0 5px;
                font-size: 1.2em;
                vertical-align: middle;

            }

            &:hover {
                color: rgba(0, 0, 0, 0.39)
            }
        }

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.80);
        color: white;
        width: 100%;
        border-bottom: 1px solid white;
        top: 5%;

        #brand-logo {
            margin-left: 10px;
            position: absolute;
            width: 180px;
            left: 0;
            z-index: 10;
            cursor: pointer;
            

            @media screen and (max-width: 600px) {
            }
        }

        #navbar-link {
            position: relative;
            padding-left: 200px;

        }

        a {
            float: left;
            display: block;
            text-align: center;
            padding: 17px 16px;
            color: white;
            text-decoration: none;
            font-size: 15px;
            cursor: pointer;
            font-weight: 600;
            text-transform: uppercase;

            i {
                font-size: 1.3em;
            }

            @media screen and (max-width: 600px) {
                display: none;
            }

            &#toggle-icon {
                display: none;

                @media screen and (max-width: 600px) {
                    float: right;
                    display: block;
                }

            }


            &.active {
                background-color: rgba(255, 145, 1, 0.829);

            }

            &:hover {
                background-color: rgba(226, 222, 222, 0.493);
            }

        }


        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;

            #brand-logo {
                width: 150px;
            }
        }


        &.responsive {
            @media screen and (max-width: 600px) {
                display: flex;
                flex-direction: column;
            }

            #navbar-link {
                padding-left: 0px;
                padding-top: 58px;

            }
            #brand-logo {
                width: 100px;
            }

            a {
                @media screen and (max-width: 600px) {
                    float: none;
                    display: block;
                }

                &#toggle-icon {
                    @media screen and (max-width: 600px) {
                        position: absolute;
                        right: 0;
                    }
                }
            }

        }
    }
}

@keyframes responsive-logo-navbar {
    from {
        width: 180px;
    }
    to {
        width: 100px;
    }
}