@mixin dot {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 145, 1, 0.829);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.829)
}
.menu {
    width: 100%;
    .menu-root {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
        .menu-title {
                @include dot();
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                cursor: pointer;
                margin: 10px;
                text-transform: uppercase;
                font-weight: 600;
            span{
               
            }
        }
    }
    .menu-details-container {
        overflow: hidden;
    }
}