@mixin dot {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 145, 1, 0.829);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.829)
}
.menu {
    width: 100%;
    .menu-root {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
        .menu-title {
                @include dot();
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                cursor: pointer;
                margin: 10px;
                text-transform: uppercase;
                font-weight: 600;
                flex-direction: column;
                overflow: hidden;
                border: 2px solid rgba(255, 145, 1, 0.0);
                
                .menu-title-img {
                    width: 100%;
                    height: 60%;
                    background-size: cover;
                }
            span{
               height: 40%;
               width: 100%;
               text-align: center;
               line-height: 300%;
               color: rgba(0, 0, 0, 0.8);
            }
        }
    }
    .menu-details-container {
        overflow: hidden;
    }
}